# pastas de build do Cabal e GHC
dist/
dist-newstyle/

# arquivos binários executáveis
*.exe
*.o
*.hi
*.dyn_o
*.dyn_hi

# arquivos de log e temporários
*.log
.cabal-sandbox/
cabal.sandbox.config

# pasta de cache de ferramentas
.stack-work/